<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.png" type="image/png">
    <title>Login - {{ Sistema }}</title>
    <link href="../css/vendor/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="../css/vendor/font-awesome/all.min.css" rel="stylesheet">
    <link href="{{ style }}" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="loader"></div>
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <img src="../images/logo-black.png" alt="logo" />
                        <h4>Panel de Administración</h4>
                    </div>
                    <form class="form-horizontal" id="loginform" action="./">
                        <div class="input-group">
                            <input type="text" id="user" class="form-control" placeholder="Usuario" aria-label="Usuario">
                        </div>
                        <div class="input-group">
                            <input type="password" id="pass" class="form-control" placeholder="Contraseña" autocomplete="off" aria-label="Password">
                        </div>
                        <div class="form-group text-center">
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn btn-login" type="submit">Iniciar Sesión</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="../js/vendor/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="../js/vendor/popper/popper.min.js"></script>
    <script src="../js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="{{ functions }}"></script>
    <script>
        $(document).ready(function () {
            $('.preloader').fadeOut();
        });
        jQuery("#loginform").submit(async function (event) {
            try {
                event.preventDefault();
                clear_log();
                var username = $('#user').val(), pass = $('#pass').val();
                if (username == '') {
                    $('#user').focus();
                    $('#user').addClass("is-invalid");
                    dialog("Debe ingresar el Usuario", "ERROR");
                } else if (pass == '') {
                    $('#pass').focus();
                    $('#pass').addClass("is-invalid");
                    dialog("Debe ingresar la Contraseña", "ERROR");
                } else {
                    const formData = new FormData();
                    formData.append('username', username);
                    formData.append('password', pass);
                    formData.append('entity', 'Usuarios');
                    formData.append('action', 'val_log');
                    const datas = await fetchCall(`/src/Api/index.php`, 'POST', formData);
                    if (!datas.isOk){
                        dialog(datas.Message, datas.Type);
                        return;
                    }
                    document.location.href = "./";
                }
                return false;
            } catch (error) {
                const mensaje = 'Error al procesar la petición: ' + error;
                dialog(mensaje, 'error');
            }
        });
    </script>
</body>

</html>